---
const { link = "#", btnColor = "var(--primary-color-01)", txtColor = "var(--bg-color-black)", txt, brdRadius = "42px", padding = "16px 33px" } = Astro.props;
---

<a href={link} style=`border: 2px solid ${btnColor}; background: ${btnColor}; color: ${txtColor}; border-radius: ${brdRadius}; padding: ${padding}`>{txt}</a>

<style>
  a {
    text-decoration: none;
    height: fit-content;
    text-wrap: nowrap;
    font-family: Lato;
    font-size: var(--size-1);
  }

  a:hover {
    filter: brightness(70%);
    transition: 0.5s;
  }
</style>
