---
const { link, btnColor, txtColor, txt, brdRadius = "42px" } = Astro.props;
---

<a href={link} style=`border: 2px solid ${btnColor}; background: ${btnColor}; color: ${txtColor}; border-radius: ${brdRadius}`>{txt}</a>

<style>
  a {
    padding: 16px 33px;
    text-decoration: none;
  }
</style>
