---
const { link = "#", btnColor = "var(--primary-color-01)", txtColor = "var(--bg-color-black)", txt, brdRadius = "42px", padding = "16px 33px" } = Astro.props;
---

<a href={link} style=`border: 2px solid ${btnColor}; background: ${btnColor}; color: ${txtColor}; border-radius: ${brdRadius}; padding: ${padding}`>{txt}</a>

<style>
  a {
    text-decoration: none;
    height: fit-content;
  }
</style>
